/* Css Reset */
body{
    padding: 0;
    margin: 0;
    background-color:black;
    font-family: 'Fira Sans', sans-serif;
    
}
/* header section */
header{
    margin-top: -34px;
}
/* navigation bar */
.navbar{
    background-color: black;
    position: relative;
    top: 21px;
}



/* input box */
.navbar-collapse form input{
    border-radius: 10px;
    font-size: 12px;
}
/* search button */
.navbar-collapse form button{
    background-color: black;
    color: white;
    border-radius: 20px;
    letter-spacing: 1px;
}
.navbar-collapse form button:hover{
    color: #ba1206;
    background-color: black;
}
/* logo section */
.navbar img{
    width: 100px;
    height: 100px;
    filter: invert(100%);
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}
.nav-item{
    
    font-size: 20px;
    font-weight: bold;

}
.navbar-collapse li a:hover, .navbar-collapse li a.active{
    color: #ba1206 !important;
}
.slider-section .carousel-caption{
    text-align: center;
}
.slider-section h1{
        font-weight: bold;
        font-size: 4rem;
}
.slider-section img{
    width: 100%;
    height: 100vh;
}
.menu-section img{
    opacity: 0.3;
}
.menu-section-title{
    position: relative;
    bottom: 179px;
    left: 40px;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.menu-section-title:hover{
    text-decoration: none;
    color: #ba1206;
}
.menu-section p{
    position: relative;
    bottom: 168px;
    font-size: 18px;
    color: white;
    opacity: 0.8;
    left: 40px;
}
.book-now-link::after{
    content: "  \f061";


}
.fa-arrow-right::before{
    display: none;
}
.book-now-link{
    text-transform: uppercase;
    color: white;
    opacity: 0.8;
    position: relative;
    bottom: 175px;
    left: 40px;
    text-decoration: none;
    letter-spacing: 1px;
}
.book-now-link:hover{
    text-decoration: none;
    color: #ba1206;

}
.about-section{
    position: relative;
    top: 75px;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 449px;
    width: 100%;
    background: #d7272a;
    box-shadow: 0 25px 30px rgba(0, 0, 0, .5);
    color: white;
    
    
    


}
.about-desc{
    width: calc(50% - 50px);
    height: 100%;
    background:#d7272a;
    box-sizing: border-box;
    display: inline;
    

}
.about-img{
    position: absolute;
    right: 0;
    top: 0;
    width: calc(50% + 50px);
    height: 100%;
    box-sizing: border-box;
    border-left: 100px solid transparent;
    border-bottom: 450px solid transparent;
    background: url("/gym_project/images/about-bg.png");
    background-position: -100px -65px;
    background-repeat: no-repeat;
    
    
}
.about-desc h2{
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    left: 100px;
    top: 65px;
}
.about-desc p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 90px;
    left: 100px;

}
.about-desc a{
    font-size: 18px;
    position: relative;
    left: 100px;
    top: 100px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 15px;
    text-decoration: none;
}
.about-desc a:hover{
    background-color: black;
    border-radius: 15px;
    color: #ba1206;
}
.about-desc a::after{
content: "  \f061";
}