/* Css Reset */
body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Fira Sans', sans-serif;

}
/* .navbar-light .navbar-brand{
    color: white;
}
.navbar-light .navbar-nav .active>.navbar-link, .navbar-light .navbar-nav .navbar-link.active, .navbar-light .navbar-nav .navbar-link.show, .navbar-light .navbar-nav .show>.navbar-link{
    color: white;
}
.navbar-light .navbar-nav .navbar-link {
    color: white;
}
.navbar-light .navbar-nav .navbar-link:focus, .navbar-light .navbar-nav .navbar-link:hover{
    color: red !important;
} */





.navbar-collapse form input{
    border-radius: 10px;
    font-size: 12px;
}

.navbar-collapse form button{
    background-color: black;
    color: white;
    border-radius: 20px;
    letter-spacing: 1px;
}
.navbar img{
    width: 100px;
    height: 100px;
    filter: invert(100%);
}
.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}
.nav-item{
    
    font-size: 20px;
    font-weight: bold;

}
.navbar-collapse li a:hover, .navbar-collapse li a.active{
    color: #ba1206 !important;
}
