html,body{overflow-x: hidden; height: 100%;}


/* Css Reset */
body{
    padding: 0;
    margin: 0;
    background-color:#030611;
    font-family: 'Fira Sans', sans-serif;  
}



/* header section */
header{
    margin-top: -34px;
}
/* navigation bar */
.navbar{
    background-color: black;
    position: relative;
    top: 21px;
}
/* input box */
.navbar-collapse form input{
    border-radius: 10px;
    font-size: 12px;
}
/* search button */
.navbar-collapse form button{
    background-color: black;
    color: white;
    border-radius: 20px;
    letter-spacing: 1px;
}
.navbar-collapse form button:hover{
    color: #ba1206;
    background-color: black;
}
/* logo section */
.navbar img{
    width: 100px;
    height: 100px;
    filter: invert(100%);
}
.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}
.nav-item{
    font-size: 20px;
    font-weight: bold;
}
.navbar-collapse li a:hover, .navbar-collapse li a.active{
    color: #ba1206 !important;
}
        /* header section */




    /* banner section */
.slider-section .carousel-caption{
    text-align: center;
}
.slider-section h1{
    font-weight: bold;
    font-size: 4rem;
}
.slider-section img{
    width: 100%;
    height: 100vh;
}
/* banner section */




/* menu section */
.menu-lesson-bg{
    text-align: left;
    padding-top: 110px;
    padding-left: 36px;
    height: 400px;   

}
.menu-lesson-bg::after{
    content: "";
    background-image: url(/gym_project/images/menu_bg10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.menu-discound-bg{
    text-align: left;
    padding-top: 110px;
    padding-left: 36px;
    height: 400px;
}
.menu-discound-bg::after{
    content: "";
    background-image: url(/gym_project/images/menu_bg20.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.menu-testing-bg{
    text-align: left;
    padding-top: 110px;
    padding-left: 36px;
    height: 400px;
    
}
.menu-testing-bg::after{
    content: "";
    background-image: url(/gym_project/images/menu_bg30.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.menu-section-title{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    opacity: 0.9;
}
.menu-section-title:hover{
    text-decoration: none;
    color: #ba1206;
}
.menu-section p{
    font-size: 18px;
    color: white;
    opacity: .8;
}
.book-now-link{
    text-transform: uppercase;
    color: white;
    opacity: 0.9;
    text-decoration: none;
    letter-spacing: 1px;
}
.book-now-link::after{
    content: "  \f061";
}
.fa-arrow-right::before{
    display: none;
}
.book-now-link:hover{
    text-decoration: none;
    color: #ba1206;
}
/* menu section */


/* about section */
.about-section{
    height: 550px;
    background-color:#d7272a;
}
.about-desc{
    height: 550px;
    padding-top: 40px;
    padding-left: 45px;
    color: white;
}
.about-section img{
    height: 550px;
    float: right;
    width: 110%;
}
.about-img{
    width: 120%;
}
.about-section h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 27px;
    font-weight: bold;
}
.about-section p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.about-desc a{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    color: white;
}
.about-desc a:hover{
    color: #ba1206;
    text-decoration: none;
    border-radius: 15px;
    background-color: black;
}
.about-desc a::after{
    content: "  \f061";
}
/* about section */


/* feature section */
.features-section{
    background-color: #030611;
    text-align: center;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-bottom: 90px;
}
.features-item{
    color: white;
    padding-top: 125px;
}
.features-item .icon{
    font-size: 48px;
}
.features-title{
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}
.features-desc{
    margin: 0 0 10px;
    font-size: 17px;
}
/* feature section */


/* classes section */
.class-section{
    background-color: whitesmoke;
}
.class-section h2{
    font-size: 37px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 23px;
    padding-top: 60px;
    letter-spacing: 5px;
    font-family: 'Do Hyeon', sans-serif;
}
.class-body {
    background-color: whitesmoke;
    padding-left: 0px;
}
.class-body a{
    font-size: 18px;
    text-transform: uppercase;   
}
.class-body a:hover{
    color: #ba1206;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
}
.class-body a::after{
    content: "  \f061";
}
.class-box {
    border: none;

}
.class-body h4{
    text-transform: uppercase;
}
.controls-top{
    text-align: center;
    font-size: 30px;
    letter-spacing: 30px;
}
.controls-top a{
    color: black !important;
}
.controls-top a:hover{
    color: #ba1206 !important;
    background-color: black !important;
    padding-left: 30px;
    border-radius: 40px;
}
.class-img-top{
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.class-img-top:hover{
    transform: scale(1.1);
    border-radius: 15px;
}
/* class section */




/* service section */
.service-main-heading{
    color: whitesmoke;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 23px;
    padding-top: 60px;
    letter-spacing: 5px;
    font-family: 'Do Hyeon', sans-serif;
}
.service-section{
    position: relative;
    width: 100%;
}
.service-section .service-box{
    position: relative;
    height: 500px;
    background: #060c21;
    border: 1px solid #000;
}
.service-section .service-box::before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}
.service-section .service-box:nth-child(1)::before{
    background:linear-gradient(315deg,#e91e63,#5d02ff);
}
.service-section .service-box:nth-child(2)::before{
    background:linear-gradient(315deg,#ff0057,#e64a19);   
}
.service-section .service-box:nth-child(3)::before{
    background:linear-gradient(315deg,#89ff00,#00bcd4);  
}
.service-section .service-box:nth-child(4)::before{
    background:linear-gradient(315deg,#ff0000,#ffc107);
}
.service-section .service-box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}
.service-body{
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}
.service-box .service-body h2{
    position: absolute;
    top: 60px;
    right: 70px;
    margin: 0;
    padding: 0;
    font-size: 11em;
    color: rgba(255, 255, 255, .05);
    transition: 0.5s;
}
.service-box:hover .service-body h2{
    top: -60px;
}
.service-box .service-body h3{
    position: absolute;
    top: 150px;
    margin: 0 0 10px;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.service-box .service-body p{
    position: absolute;
    top: 200px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}
.service-box .service-body a{
    position: relative;
    top: 300px;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
    text-transform: uppercase;
}
.service-box:hover .service-body a{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.service-box .service-body a:hover{
    color: #ba1206;
} 
.service-section .container-fluid{
    padding-left: 90px;
    padding-right: 90px;
}
.service-section .service-box .service-body{
    height: 120px;
}
.service-btn .btn-prev{
    border: 1px solid white;
    position: absolute;
    top: 230px;
    left: 20px;
    font-size: 25px;
    padding: 15px;
    border-radius: 15px;
    color: white;
}
.service-btn .btn-next{
    border: 1px solid white;
    position: absolute;
    top: 230px;
    right: 20px;
    font-size: 25px;
    padding: 15px;
    border-radius: 15px;
    color: white;
}
.service-btn a:hover{
    color: #ba1206;
}


/* feature2 section */
.features2-section{
    background-color: #030611;
    text-align: center;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-bottom: 90px;
}
.features2-item{
    color: white;
    padding-top: 125px;
}
.features2-item .icon{
    font-size: 50px;
}
.features2-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}
.features2-numbers{
    margin: 0 0 0;
    font-size: 50px;
}
/* feature2 section */



/* trainers section */
.trainers-section{
    background-color: whitesmoke;
    padding-left: 5rem;
     padding-right: 5rem;
    
     
}
.trainers-section h2{
    color: black;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 23px;
    padding-top: 60px;
    letter-spacing: 5px;
    font-family: 'Do Hyeon', sans-serif;
}
.trainers-box{
    border-radius: 15px;   
    background: black;
    overflow: hidden; 
    position: relative;
    z-index: 1;
}
.trainers-img-top{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease-in-out;
    backface-visibility: hidden;
}    
.trainers-box:hover .trainers-img-top{
    opacity: 0.1;
}
.trainers-social {
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    padding: 30% 10% 0;
  }
  .trainers-box:hover .trainers-social{
      opacity: 1;
  }
  .trainers-desc {
    color: whitesmoke;
    font-size: 20px;
  }
.trainers-body{
    background-color: #060c21;
    position: relative ;
    z-index: 2;
    padding: .8rem;
    text-align: center;
}
.trainers-body h4{
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    position: relative;
    top: 10px;

}
.social-icons a{
    color: whitesmoke;
    padding: 8px;
}
.social-icons a:hover{
    color: #ba1206;
}
/* trainers section */


@media screen and (min-width:992px) and (max-width:1200px){
    .service-box .service-body a{
            top:313px;
    }
    .service-box .service-body p{
        top:90px;
    }
    .service-box .service-body h3{
        top:32px;
    
    }
    .service-box .service-body h2{
        top:0px;
        right:0px;
    }
    .service-btn .btn-next{
        top:295px;
    }
    .service-btn .btn-prev{
        top:295px;
    }
    }
    
    @media screen and (min-width:768px) and (max-width:992px){
        .about-section img{
            display: none;
        }
        
    }



@media(max-width:768px){
    .about-desc{
        padding-top: 100px;
        padding-left: 78px;
    }

.service-btn .btn-prev{
    top: 325px;
}

.service-btn .btn-next{
    top: 325px;
}
}
@media(min-width:576px){
    .menu-lesson-bg {
        padding-top: 83px;
    }
    .menu-discound-bg{
        padding-top: 83px;
    }
    .menu-testing-bg{
        padding-top: 83px;
    }
    .about-desc{
    padding-top: 20px;
    padding-left: 19px;
}
.service-box .service-body a{
    top: 331px;
}
.service-btn .btn-next{
    top: 335px;
}
.service-btn .btn-prev{
    top: 335px;
}
}
@media(max-width:576px){
    .service-box .service-body h2{
        top: 35px;
        right: 0;
        font-size: 6em;
    }
    .service-box .service-body h3{
        top: 86px;
        font-size: 17px;
    }
    .service-box .service-body p{
        top: 130px;
        font-size: 10px;
    }
}